.sample1 {
    width:50%;
    border: solid;
    border-radius: 30px;
}

.sample2 {
    width:50%;
    border: solid;
    border-radius: 30px;
}

.outerContainer {
    display: flex ;
    flex-direction: row;
    width:80%;
}

.optionSet
{
    background-color:
    green;
    width:42%;
    margin-bottom:5%;
    margin-top:5%;
    margin-left:25%;
    margin-right:25%;
    /* margin:auto; */
    color: white;
}

.optionContent
{
    background-color:
    red;
    width:70%;
    margin:auto
}

.emptyContent
{
    background-color:
    black;
    width:70%;
    border: dashed yellow;
    margin:auto
}

.insteadContent
{
    display: none;
    margin:auto
}